<p>wlcome to {{hotelName}}</p>

<div [hidden]="hiderooms">
    Number of Rooms:
    <div [ngStyle]="{'color': rooms.availableRooms? 'green' : 'red'}" [innerText]="numberofrooms"></div>
</div>

{{ rooms?.availableRooms ?? 'No rooms' }}

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div><button (click)="addRoom()">Add Room</button></div>

<div *ngIf="rooms.availableRooms > 0">

    <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="'Room List'"></app-rooms-list>

    <!-- Rooms List
    {{roomList | json}}
    <table class="table">
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>checkin Time</th>
        </tr>
        <tr [ngClass]="e? 'even' : 'odd'" *ngFor="let room of roomList; let e=even; let o=odd; let i=index">
            <td>{{i}}</td>
            <td>{{e?"Even": "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price | currency: 'INR'}}</td>
            <td>{{room.amenities | lowercase}}</td>
            <!-- applying pipes -->
            <!-- <td>{{room.checkinTime | date: 'dd/mm/yyyy'}}</td>
        </tr>
    </table> -->
</div>

<button (click)="toggle()">Toggle</button>